[submodule "src/assets/biliob-frontend"]
	path = src/assets/biliob-frontend
	url = https://github.com/Jannchie/biliob-frontend.git
[submodule "BiliChat"]
	path = BiliChat
	url = https://github.com/dd-center/BiliChat
[submodule "state-center"]
	path = state-center
	url = https://github.com/dd-center/state-center.git
[submodule "api/mock/DDatHome-nodejs"]
	path = api/mock/DDatHome-nodejs
	url = https://github.com/dd-center/DDatHome-nodejs.git
[submodule "api/mock/Cluster-center"]
	path = api/mock/Cluster-center
	url = https://github.com/dd-center/Cluster-center.git
[submodule "api/mock/bilibili-vtuber-live-danmaku-relay"]
	path = api/mock/bilibili-vtuber-live-danmaku-relay
	url = https://github.com/dd-center/bilibili-vtuber-live-danmaku-relay.git
