[submodule "src/assets/biliob-frontend"]
	path = src/assets/biliob-frontend
	url = https://github.com/Jannchie/biliob-frontend.git
[submodule "hawk/dictionary"]
	path = hawk/dictionary
	url = https://github.com/dd-center/dictionary
[submodule "BiliChat"]
	path = BiliChat
	url = https://github.com/dd-center/BiliChat
[submodule "state-center"]
	path = state-center
	url = https://github.com/dd-center/state-center.git
