name: Node CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: Use Node.js 18
      uses: actions/setup-node@v3.8.1
      with:
        node-version: 18
    - name: install
      run: |
        npm install --legacy-peer-deps -f
    - name: build
      run: |
        npm run build
      env:
        CI: true
